body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.head-container,
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.information,
.testimonial {
    padding-left: 100px;
    padding-right: 100px;
}

.logo,
.text {
    font-size: 18px;
    color: #E5E7EB;
}

.head-container,
footer {
    background-color: #1F2937;
}

.head-container {
    height: 340px;
    padding-top: 10px;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-weight: 800;
}

.nav {
    justify-content: flex-end;
}

.nav>ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-right: 12px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-top: 25px;
}

.content {
    flex-direction: column;
    align-content: center;
    width: 400px;
}

.web {
    font-size: 48px;
    font-size: x-large;
}

button,
.logo-img,
.content-container,
.head-container,
.color-container,
footer {
    color: #F9FAF8;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    border-radius: 5px;
}


.logo-img {
    width: 500px;
    height: 200px;
    background-color: gray;
    font: 24px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.information {
    justify-content: center;
}

.heading {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.matter-img {
    display: flex;
    justify-content: center;
}

.imgs,
.para {
    height: 130px;
    width: 130px;
    margin: 30px;
}

.imgs {
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.para {
    border: 2.4px;
    display: flex;
    font-size: smaller;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 400px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.quote {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;
}

.author {
    font-size: 20px;
    font-weight: bold;
    margin: 0%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.login {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.color-container {
    background-color: #3882F6;

    width: 800px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 1%;
}

.sign-up {}

div .btn {
    border-color: #F9FAF8;
    align-self: center;
}

footer {
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}