body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.head-container,
.information,
.testimonial,
.footer {
    padding-left: 150px;
    padding-right: 150px;
}

.logo,
.text {
    font-size: 18px;
    color: #E5E7EB;

}

.head-container {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 340px;
    padding-top: 10px;

    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-weight: 800;
}

.nav {

    justify-content: flex-end;
}

.nav>ul {
    display: flex;

    list-style-type: none;

}

li {
    margin-right: 12px;

}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.content {
    flex-direction: column;
    align-content: center;
    width: 400px;
}

.web {
    font-size: 48px;
    font-size: x-large;
}



button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;

    color: #F9FAF8;

    border-radius: 10%;
}


.logo-img {
    width: 500px;
    height: 200px;
    background-color: gray;
    font: 24px;
    color: #F9FAF8;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.information {
    justify-content: center;

}

.heading {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.matter-img {
    display: flex;
    justify-content: center;

}

.imgs {
    border: 3px solid #3882F6;
    height: 130px;
    width: 130px;
    margin: 30px;
    border-radius: 10px;
}

.para {
    height: 130px;
    width: 130px;
    margin: 30px;
    border: 2.4px;
    display: flex;
    font-size: smaller;
    text-align: center;
}

.testimonial {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px 400px;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}



.quote {
    font-size: 30px;
    color: #1F2937;
    font-style: italic;

}

.author {
    /* font-size: 20px; */
    font-weight: bold;
    margin: 0%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
}

.login {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.color-container {
    background-color: #3882F6;
    color: #F9FAF8;

    width: 800px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}


.sign-up {
    padding: 30px 100px;
}

.btn {
    align-self: center;
    justify-self: center;
}

footer {
    background-color: #1F2937;
    height: 50px;
    padding-top: 20px;
    color: #F9FAF8;

    justify-content: center;
    align-items: center;
    display: flex;
}